<html>
<head>
		<link rel="stylesheet" type="text/css" href="{{=URL('static/css', 'default.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{=URL('static/css', 'multilevelmenu.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{=URL('static/css', 'component.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{=URL('static/css', 'animations.css')}}" />

	<script type="text/javascript" src="{{=URL('static/js', 'modernizr.custom.js')}}"></script>


</head>

<body>

<div id="container">
	<div id="options">
		<span>Hashtag:</span> <input type="text" id="hash"> &nbsp; &nbsp; <span>Transition Time:</span> <input type="text" id="transition">seconds &nbsp; &nbsp; <input type="button" id="hash-search" value="Search">
	</div>

	<div id="pt-main" class="pt-perspective"></div>
</div>
</body>


	<script type="text/javascript" src="{{=URL('static/js', 'jquery-2.0.3.min.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static/js', 'jquery.dlmenu.js')}}"></script>	
	<script type="text/javascript" src="{{=URL('static/js', 'pagetransitions.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static/js', 'ytmenu.js')}}"></script>
<script>
	var sinceId = 0;
	var dataTweets = [];
	var currentId = 0;



	$("#hash-search").click(function() {
		function tweets(hashtag, sinceId) {
			return $.getJSON(
		   			"{{=URL('twitter')}}",
		   			 { hash : hashtag, sinceId : sinceId});
		   			
		} 
		tweets($("#hash").val(), sinceId).done(function(data) {
			$('#pt-main').html('');
			for (var i = 0; i < data.length; i ++) {
				var tweet = data[i]

				var image = (tweet.entities.media? "<img src='"+tweet.entities.media[0].media_url+"'>":"");
				//(tweet.entities.media? "<img src='"+tweet.entities.media[0].media_url+"'>":"");

				$("#pt-main").append("<div class='pt-page pt-page-"+(i+1)+"'>"+
									  "<h1><span>De: "+tweet.user.name+" - @" +tweet.user.screen_name+"<p/>"+
									  tweet.text+"</span><p><center>"+image+"</center></p></h1></div>");
			}

			//currentId = data[data.length - 1].id

			PageTransitions.init();
		});
	
		setInterval(function(){
			var animation = Math.floor((Math.random()*67)+1);

			PageTransitions.nextPage(animation);
		}, parseInt($("#transition").val()) * 1000) ;

	});



</script>

</html>